.notFound {
  background-image: url("/src/shared/assets/images/notFoundPage/erorr.png");
  background-size: auto;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
    border-top: 3px solid #dd5903;
    padding-top: 8px;
    min-width: 250px;
    text-align: center;
  }
}
