.popularDishes {
  padding: 100px 0;
  background-image: url("/public/images/menuItems/foodBG.png");
  background-repeat: no-repeat;
  // background-position: 60%;
  h1 {
    text-align: center;
    font-size: 42px;
    line-height: 45px;
    font-weight: 700;
  }
}
