.aboutUsVideo {
    background: url(assets/images/about-us/about-us-video-bg.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.6;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

}