@use "../../colors" as *;
@use "../../mixin" as *;

@mixin roundedElement($dimension) {
  width: $dimension;
  height: $dimension;
  @include borderRaduis(50%);
}

.site-footer {
  margin-top: auto;
  background: $foote-background;
  color: $footer-font-color;

  .footer-top {
    padding: 100px 0;
    font-size: 15px;
    font-weight: 400;
    @include media-breakpoints(small) {
      padding: 70px 0;
    }
    .grid {
      > div:not(:last-of-type) {
        @include media-breakpoints(medium) {
          margin-bottom: 20px;
        }
      }
    }
    .footer-logo {
      margin-bottom: 85px;
      position: relative;
      &::before {
        content: "";
        width: 100%;
        height: 0;
        border-top: 1px solid #303030;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      @include media-breakpoints(small) {
        margin-bottom: 60px;
      }

      span {
        display: block;
        padding: 0 32px;
        background: $foote-background;
        position: relative;
        img {
          width: 152px;
          @include media-breakpoints(small) {
            max-width: mobiles;
          }
        }
      }
    }

    .heading {
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 20px;
      @include media-breakpoints(large) {
        font-size: 18px;
      }
    }

    p {
      width: 85%;
      margin: auto;
      line-height: 1.8;
      color: #808080;
      @include media-breakpoints(large) {
        width: 100%;
      }
    }

    li {
      line-height: 1.8;
    }

    li span {
      color: #808080;
    }

    a {
      color: $primary-color;
    }

    .footer-social-icons {
      margin-top: 20px;

      li:not(:last-of-type) {
        margin-right: 10px;
      }

      a {
        @include roundedElement(36px);
        background: #fff;
        color: #000;

        &:hover {
          background: $primary-color;
        }

        svg {
          width: 20px;
        }
      }
    }

    .newsletter {
      margin-top: 20px;

      .form-group {
        height: 54px;
        border: 1px solid #262626;
        padding: 5px;
        @include borderRaduis(3px);
        @include media-breakpoints(small) {
          max-width: 320px;
          margin: auto;
        }
        input {
          padding: 0 15px;
          text-transform: capitalize;
          color: #fff;
          &::placeholder {
            color: #808080;
            opacity: 1;
          }

          &:-ms-input-placeholder {
            color: #808080;
          }

          &::-ms-input-placeholder {
            color: #808080;
          }

          @include media-breakpoints(large) {
            max-width: 130px;
            font-size: 13px;
          }
        }

        button {
          padding: 0 15px;
          background: $primary-color;
          color: $main-font-color;
          text-transform: uppercase;
          @include borderRaduis(3px);
          &:hover {
            background: $sub-color;
            color: #fff;
          }
          @include media-breakpoints(large) {
            padding: 0 5px;
            font-size: 13px;
          }
        }
      }
    }
  }

  .footer-bottom {
    padding: 32px 0;
    background: $main-color;

    .container {
      @include media-breakpoints(small) {
        text-align: center;
        flex-direction: column;
      }
    }

    .copy-rights {
      font-size: 14px;
      font-weight: 400;
      @include media-breakpoints(small) {
        margin-bottom: 15px;
      }
      a {
        color: $primary-color;
      }
    }

    .footer-payment-methods {
      .payment-method:not(:last-of-type) {
        margin-right: 12px;
      }
    }
  }
}
