@mixin borderRaduis($val) {
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  -ms-border-radius: $val;
  -o-border-radius: $val;
  border-radius: $val;
}

@mixin roundedElement($dimension) {
  width: $dimension;
  height: $dimension;
  @include borderRaduis($dimension);
}

@mixin transition($property, $duration, $timingFunction) {
  -webkit-transition: $property $duration $timingFunction;
  -moz-transition: $property $duration $timingFunction;
  -ms-transition: $property $duration $timingFunction;
  -o-transition: $property $duration $timingFunction;
  transition: $property $duration $timingFunction;
}

@mixin media-breakpoints($point) {
  @if ($point == mobile) {
    @media (max-width: 575px) {
      @content;
    }
  } @else if ($point == small) {
    @media (max-width: 767px) {
      @content;
    }
  } @else if ($point == medium) {
    @media (max-width: 1023px) {
      @content;
    }
  } @else if ($point == large) {
    @media (max-width: 1199px) {
      @content;
    }
  } @else if ($point == x-large) {
    @media (min-width: 1280px) {
      @content;
    }
  }
}
