@mixin borderRaduis($val) {
    -webkit-border-radius: $val;
    -moz-border-radius: $val;
    -ms-border-radius: $val;
    -o-border-radius: $val;
    border-radius: $val;
}

@mixin roundedElement($dimension) {
    width: $dimension;
    height: $dimension;
    @include borderRaduis($dimension)
}

@mixin transition($property, $duration, $timingFunction) {
    -webkit-transition: $property $duration $timingFunction;
    -moz-transition: $property $duration $timingFunction;
    -ms-transition: $property $duration $timingFunction;
    -o-transition: $property $duration $timingFunction;
    transition: $property $duration $timingFunction
}
