.footerLogo {
  &::before {
    content: "";
    width: 100%;
    height: 0;
    border-top: 1px solid #303030;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
  

