.popularMealItem {
  .image {
    background-size: contain;
  }

  @media (min-width: 761px) {
    &:nth-child(even) {
      .itemWrapper {
        flex-direction: row-reverse;
        text-align: -webkit-right;
      }
    }
  }
}
